* {
  margin: 0;
  padding: 0;
}

body {
    text-align: center;
}

/* .textbox, .check-btn {
    width: 100px;
} */

.table {
    position: relative;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgreen;
    width: 80%;
    left: 50%;
    transform: translate(-50%,0);
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
}

.stat > div, .values > div {
    border: 1px solid black;
}

.values {
    text-align: center;
}

#years {
  size: 5;
}

.details, .stats {
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-weight: bold;
}